/** {
	border: 1px solid red;
}*/

html, body {
	margin: 1.5%;
}

.container {
	display: flex;
	flex-direction: row;
	width: 100%;
	/*height: 15%;*/
}

.text {
	font-family: Arial;
	font-size: 1.1em;
	line-height: 1.3em;
	font-weight: normal;
	color: #666;
	height: 30%;
	width: 100%;
}

.one {
	height: 15%;
	width: 33.3%;
}

.two {
	height: 35%;
	width: 33.3%;
}

.three {
	margin-top: 2.5%;
	height: 15%;
}

.red {
	background: rgb(195, 0, 22);
}

.blue {
	background: rgb(60, 122, 219);
}

.gray {
	background: rgb(57, 57, 57);
}

.five {
	width: 5.5%;
}

.twenty {
	width: 22.3%;
}
.sixty {
	width: 66.6%;
}

.ml {
	margin-left: 1%;
}

.mr {
	margin-right: 1%
}
